@media only screen and (min-width: 1500px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    margin: 0px 15px;
    display: inline-block;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color 0.3s;
    cursor: pointer;
  }

  .nav-links a:hover {
    color: #7843e9;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1500px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    margin: 0px 10px;
    display: inline-block;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color 0.3s;
    cursor: pointer;
  }

  .nav-links a:hover {
    color: #7843e9;
  }
}

@media screen and (max-width: 850px) {
  .nav-links {
    display: none;
  }
}
