@media only screen and (min-width: 1500px) {
  .hero-fullName {
    display: flex;
    align-items: center;
  }

  .hero-fullName img {
    background: #7843e9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 25px;
    object-fit: cover;
    display: block;
  }

  .hero-fullName span {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px !important;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1500px) {
  .hero-fullName {
    display: flex;
    align-items: center;
  }

  .hero-fullName img {
    background: #7843e9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    display: block;
  }

  .hero-fullName span {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 19px !important;
  }
}

@media screen and (max-width: 850px) {
  .hero-fullName {
    display: flex;
    align-items: center;
  }

  .hero-fullName img {
    background: #7843e9;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    display: block;
  }

  .hero-fullName,
  .hero-fullName span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
  }
}
