@media screen and (min-width: 1599px) {
  .main-content {
    text-align: center;
    padding-top: 270px;
    padding-bottom: 210px;
  }

  .content-name p {
    line-height: 24px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    line-height: 27.5px;
    font-weight: 500;
  }

  .content-front h1 {
    font-size: 128px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #111;
    font-weight: 800;
    line-height: 80%;
  }
  .content-profession {
    margin-top: 35px;
    margin-bottom: 110px;
  }
  .content-profession p {
    color: #333;
    font-size: 20px;
    line-height: 1.7;
    line-height: 1.375;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .button {
    margin-top: 30px;
    margin-bottom: 110px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .main-content {
    text-align: center;
    padding-top: 220px;
    padding-bottom: 170px;
  }

  .content-name p {
    line-height: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    color: #333;
    line-height: 27.5px;
    font-weight: 400;
  }

  .content-front h1 {
    font-size: 124px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #111;
    font-weight: 800;
    line-height: 80%;
    letter-spacing: -6px;
  }
  .content-profession {
    margin-top: 25px;
    margin-bottom: 80px;
  }
  .content-profession p {
    color: #333;
    font-size: 17px;
    line-height: 1.6;
    line-height: 1.375;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -0.8px;
  }

  .button {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .main-content {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 120px;
  }
  .content-name p {
    line-height: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    color: #333;
    line-height: 27.5px;
    font-weight: 400;
  }
  .content-front h1 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #111;
    font-weight: 700;
  }
  .content-profession {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .content-profession p {
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    line-height: 1.375;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -0.8px;
  }

  .button {
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .main-content {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 120px;
  }
  .content-name p {
    line-height: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    color: #333;
    line-height: 27.5px;
    font-weight: 400;
  }
  .content-front h1 {
    font-size: 95px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: -5px;
  }
  .content-profession {
    margin-top: 25px;
    margin-bottom: 100px;
  }
  .content-profession p {
    color: #333;
    font-size: 12px;
    line-height: 1.6;
    line-height: 1.375;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.05px;
  }

  .button {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

/* ! */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-content {
    padding-top: 100px;
    text-align: center;
  }
  .content-name p {
    line-height: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    line-height: 27.5px;
    font-weight: 400;
  }
  .content-front h1 {
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
    font-weight: 700;
    line-height: 0.8;
    text-align: center;
    letter-spacing: -5px;
  }
  .content-profession {
    margin-top: 25px;
    margin-bottom: 100px;
  }
  .content-profession p {
    color: #333;
    font-size: 12px;
    line-height: 1.6;
    line-height: 1.375;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .button {
    margin-top: 60px;
    margin-bottom: 70px;
  }
}
