@media only screen and (min-width: 1599px) {
  .scilss {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
  }

  .grid-item-left {
    height: 500px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1599px) {
  .scilss {
    /* border: 1px solid #6a5a5a; */
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
  }

  .grid-item-left {
    height: 400px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 950px) {
  .scilss {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .grid-item-left {
    height: 320px;
  }
}
