@media only screen and (min-width: 850px) {
  .btn-scroll {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    z-index: 99;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #7843e9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: 1s linear;
  }
  .btn-scroll:hover {
    color: rgb(107, 77, 230);
    background-color: #f0ede9;
  }

  .home_hero_social {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 5px;
    z-index: 9;
  }

  .home_hero_social a {
    display: block;
    margin: auto;
    display: block;
    color: black;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
  }
  .home_hero_social a svg {
    width: 100%;
  }
  .home_hero_social a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 850px) {
  .btn-scroll {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #7843e9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: 1s linear;
  }
  .btn-scroll:hover {
    color: rgb(107, 77, 230);
    background-color: #f0ede9;
  }

  .home_hero_social {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .btn-scroll {
    right: 70px;
    bottom: 70px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
  }
  .btn-scroll svg {
    font-size: 20px;
    color: white;
    font-weight: 600;
  }
}
