@media only screen and (min-width: 1599px) {
  .competencies {
    margin-top: 60px;
  }
  .competencies button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    color: #333;
    transition: all 0.2s ease-out;
  }
  .competencies button:hover {
    color: #7843e9;
  }

  .scilss-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 45px;
  }

  .scilss-item {
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
  }

  .scilss-item .img {
    position: relative;
    width: 50px;
    overflow: hidden;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .img img {
    object-fit: cover;
  }

  .scilss-item i {
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    color: #7843e9;
  }

  .scilss-item p {
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    color: #333;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1599px) {
  .competencies {
    margin-top: 50px;
  }
  .competencies button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
    color: #333;
    transition: all 0.2s ease-out;
  }
  .competencies button:hover {
    color: #7843e9;
  }
  .scilss-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 35px;
  }

  .scilss-item {
    padding: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
  }

  .scilss-item .img {
    position: relative;
    width: 30px;
    overflow: hidden;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .img img {
    object-fit: cover;
  }
  .scilss-item i {
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    color: #7843e9;
  }

  .scilss-item p {
    font-size: 14px;
    margin: 0;
    cursor: pointer;
    color: #333;
  }
}

@media only screen and (min-width: 0px) and (max-width: 950px) {
  .competencies {
    margin-top: 30px;
  }

  .scilss-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 25px;
  }

  .competencies > div:first-child {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .competencies button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 1px;
    transition: all 0.2s ease-out;
  }
  .competencies button:hover {
    color: #7843e9;
  }

  .scilss-item {
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .scilss-item .img {
    position: relative;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
  }

  .img img {
    object-fit: cover;
  }

  .scilss-item i {
    width: 100%;
    font-size: 8px;
    cursor: pointer;
    color: #7843e9;
  }

  .scilss-item p {
    font-size: 10px;
    color: #333;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .competencies {
    margin-top: 20px;
  }
  .competencies > div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .scilss-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-top: 20px;
  }
}
