@media only screen and (min-width: 1599px) {
  .wrapper-title {
    margin-bottom: 120px;
  }

  .title {
    font-size: 70px;
    position: relative;
    font-weight: 500;
  }
  .title::after {
    position: absolute;
    content: "";
    bottom: -40px;
    left: 0;
    width: 100px;
    height: 8px;
    border-radius: 3px;
    background: #7843e9;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1599px) {
  .wrapper-title {
    margin-bottom: 80px;
  }

  .title {
    margin: 0;
    font-size: 40px;
    position: relative;
    font-weight: 500;
  }
  .title::after {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 0;
    width: 60px;
    height: 5px;
    border-radius: 3px;
    background: #7843e9;
  }
}

@media only screen and (min-width: 0px) and (max-width: 950px) {
  .wrapper-title {
    margin-bottom: 50px;
  }

  .title {
    font-size: 34px;
    position: relative;
    font-weight: 400;
  }
  .title::after {
    position: absolute;
    content: "";
    bottom: -20px;
    left: 0;
    width: 40px;
    height: 5px;
    border-radius: 3px;
    background: #7843e9;
  }
}
