@media only screen and (min-width: 950px) {
  .footer {
    width: 100%;
    background: #000;
    color: #fff;
  }

  .footer_top {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  .fullName {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Source Sans 3", sans-serif;
  }

  .profession {
    margin-top: 32px;
    color: #eee;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Source Sans 3", sans-serif;
  }

  .wrapper-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }

  .footer_bottom {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 13px;
    text-align: center;
    box-sizing: inherit;
    font-family: "Source Sans 3", sans-serif;
  }

  .item-right {
    padding: 15px 0;
    text-align: right;
  }

  .item-right h4 {
    box-sizing: inherit;
    font-size: 24px;
  }

  .social {
    margin-top: 32px;
  }

  .footer-social a {
    text-decoration: underline;
    font-weight: 700;
    margin-left: 2px;
    color: inherit;
    transition: 0.3s linear;
  }

  .footer-social a:hover {
    color: #7843e9;
  }

  .item-right svg {
    font-size: 22px;
    cursor: pointer;
    margin: auto;
    color: white;
    padding: 5px;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 10px;
  }

  .item-right svg:hover {
    background-color: #7843e9;
  }
}
@media only screen and (min-width: 0px) and (max-width: 950px) {
  .item-right {
    text-align: left;
    margin-top: 30px;
  }
  .item-right svg {
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    color: white;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 5px;
  }
  .fullName {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .profession {
    margin-top: 2rem;
    color: #eee;
    font-size: 12px;
    line-height: 1.7;
  }

  .item-right h4 {
    box-sizing: inherit;
    font-size: 20px;
  }
  .social {
    margin-top: 25px;
  }

  .footer-social a {
    text-decoration: underline;
    font-weight: 700;
    /* margin-right: 5px; */
    color: inherit;
    transition: 0.3s linear;
  }

  .footer-social a:hover {
    color: #7843e9;
  }

  .item-right svg {
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    color: white;
    padding: 5px;
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 12px;
  }

  .item-right svg:hover {
    background-color: #7843e9;
  }
}
