@media screen and (min-width: 850px) {
  .openMenu,
  .navMobile {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .openMenu,
  .openMenu svg {
    display: block;
    color: #7742e7;
    font-weight: 700;
    font-size: 18px;
  }
  .navMobile {
    width: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 0;
    transition: all 0.5s ease-out;
    z-index: 99;
    height: 90vh;
  }
  .navMobile a:first-child {
    border-top: 1px solid #eee;
  }
  .navMobile a {
    padding: 20px 37px;
    display: inline-block;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color 0.3s;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: right;
    border-bottom: 1px solid #eee;
    transition: 0.4s;
    z-index: -9;
    transition: all 0.2s ease-out;
  }
  .navMobile a:hover {
    color: #7843e9;
  }
}
