html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

section {
  scroll-margin-top: 45px;
}

div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 85%) 1fr;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}

/* 
@media only screen and (max-width: 1500px) 
*/
@media only screen and (min-width: 1500px) {
  section {
    scroll-margin-top: 50px;
  }
}
